$background_color: #241f31ff;
$yellow: #f8f881;

$pink_lavender: #cdb4db;
$orchid_pink: #ffc8dd;
$nadeshiko_pink: #ffafcc;
$red_salsa: #e95454;

$uranian_blue: #bde0fe;
$baby_blue_eyes: #a2d2ff;
$dodger_blue: #1f93ff;
$bright_navy_blue: #0074e0;


$gunmetal: #2C363F;
$blush: #E75A7C;
$ivory: #F2F5EA;
$ivory2: #d5d7da;
$timberwolf: #D6DBD2;
$laurel_green: #BBC7A4;
$mint_cream: #F7FFF7;

$black_coffee: #3E363F;
$onyx: #383d42;

$electric_blue: #CED4DA;
