@import "src/styles/colors";

:host {
  flex: 1 0;
}

.game-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: $ivory;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 25px;

  .btn {
    width: 100%;
    padding: 10px 15px;
    margin-top: 25px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: darken($ivory, 10%);

    &:hover {
      background-color: darken($ivory, 15%);
    }
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 24px;

  mat-icon {
    margin-left: 5px;
    color: lighten($black_coffee, 10%);

    &:hover {
      cursor: pointer;
      color: lighten($black_coffee, 30%);
    }
  }
}

.result {
  padding: 5px 15px;
  margin-bottom: 25px;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  border: 1px solid #4f4f4f;
  border-radius: 8px;
}
